@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.activeBg{
    background-color: black ;
    color: white
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}














































button {
    background: none;
    appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    border: none;
    cursor: pointer;
  }
  
  .page-btn {
    color: #2c303a;
    height: 35px;
    border-radius: 2px;
    padding: 0 10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: background 0.3s ease;
    margin: 0 2px
  }
  
  .page-btn:first-of-type {
    margin-left: 0;
  }
  
  .page-btn:last-of-type {
    margin-right: 0;
  }
  
  .page-btn:not([class$="-page"]) {
    width: 35px;
  }
  
  .pagination-buttons {
    display: flex;
    justify-content: end;
    padding: 0px 100px;
    margin-bottom: 200px;
  }
  
  .page-btn[class*="-page"] {
    font-size: 0.6em;
    font-weight: 700;
  }
  
  .page-btn.active {
    background: black;
    color: #fff;
  }
  
  .page-btn[disabled] {
    opacity: 0.3;
  }
  .prev-page, .next-page{
    font-size: 20px !important;
    color: rgb(163, 158, 158) !important;
  }